
$owht: #EBEBEB;
.container {
	height: 15%;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
.logo{
	width: 10%;
    height: 10%;

}

.social_div{
	height: 10vw;
	width: 13vw;
	background-color: $owht;
	  .social_logo{ width:40px;
	  	height: 40px;}
}

}

.rest_overflow{
	max-height:300px;
	overflow: hidden;

}

.Rest_img_div{
	max-height:450px;
	// background-image: url(//c3.staticflickr.com/9/8675/16112972906_f0fff8d9e3_n.jpg);
	// background-position: center bottom;
	// background-size: cover;
	 -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  /* needed? not sure */
  zoom: 1;
	.rest_img{
		display: block;
        transform:rotate();
        width: 100%;

		max-height:100%;
		 -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  /* needed? not sure */
  zoom: 1;

}}

.under_img_feeds{
	display:flex;
	justify-content: space-between;
}


.test_div {
	height: 320px;
	width: 350px;
	background-color: #ECECEC;
	border: solid #777777 1px;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;

	display: inline-block;
	white-space: nowrap;
		overflow-y: scroll;

	margin-left: 3%;

}


.test_title {
	font-weight: bold;
	width:80%;
	margin: auto;
	border-bottom: 1px solid grey;
	height:9%;
	display:flex;
	align-items: flex-end;

	  .test_text{
	  	position: relative;
	  	margin-top: 5%;
	  }

}

.article_title{
			font-weight: bold;
	  	width: 80%;
	  	margin: auto;
			margin-bottom: 10px;
	  }

	  .article_content {
	  	width: 80%;
	  	margin: auto;
	  };
		.article_text{
			font-weight: 300;
		}

	.story_reso_div{
		font-weight: 300;
		padding-top: 15px;
		padding-left: 15px;
	}

.news{
white-space: normal;
}

.food_special_img{
width:80%;
height:50%;
}

.map_article {
	width:80%;
	margin: auto;
	border-bottom: 1px solid grey;
	height:9%;
	margin-bottom:65%;
}
#google_map {

   height: 200px;
   width:100%;
}


.menu_tab_div{
	float: left;
    // background-color: lightblue;


}

.flickr_photos{
	float: right;
	margin-right:4%;

.flick_food {
	height: 200px;
	width: 200px;
    border: 1px solid grey;
    margin-bottom: 10%;
}

}

.flickr_text{
	font-size:160%;
	margin-bottom:7%;
}

.under_div {

}


.tab_div{

border-bottom: 1px solid grey;
height:4vw;
}

.menu_tab_div{
	width:70%;
	height:4vw;
}
.bord {
	display:inline-block;
	height: 4vw;
	margin-left: 4%;
}



.border{
    border-top: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	background-color:white;
}

.tab_ourstory{

}
// .tab_ourstory:hover{

// 	border-top: 1px solid grey;
// 	border-left: 1px solid grey;
// 	border-right: 1px solid grey;
// }



.tab_menu{

 width: 100px;
 text-align: center;


}

// .tab_menu:hover{

// 	border-top: 1px solid grey;
// 	border-left: 1px solid grey;
// 	border-right: 1px solid grey;
// }

.tab_rsvp{

}


.tab_border{
	border-bottom: 1px solid grey;
	width:80%;
	height: 10%;
}


// .menu-container div{
// 	border: solid black 1px;
// }


// POST STYLES

hr{
	width: 840px;
	margin-right: 200px;
}

.icons{
display: inline;
	 img{
height: 20px;
width: auto;
border: 1px #333 solid;
border-radius: 2px;
padding:5px;
transition: all 2s;
// float: right;
	}
}
.spicy{
	margin-left: 53px;
}


.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}


.menu-title{
	font-weight: bold;
	font-size: 22px;
}
.menu-sub-title{
font-style: italic;
font-weight: bold;
font-size: 18px;
width: 900px;
border-bottom: solid black 1px;
margin-bottom: 25px;
}

.fancy-menu-post{
margin-bottom: 50px;
width: 900px;

	.title{
				font-size: 16px;
				font-weight: 500;
				width: 850px;
				display: inline-block;
			};
	.price{

	}
	.description{
				display: inline-block;
				font-weight: 300;
				font-size: 14px;
				padding-top: 5px;
				padding-bottom: 20px;
				padding-right: 5px;
				width: 700px;
				min-height: 70px;
				border-right: 1px solid grey;
			}
}

.specialtext {
	width: 320px;
	height: 130px;
}

.seating{
   display: block;
}

.rs {
	display: block;
	
	color: #E497A1;
}


.rsvp_date {
	font-size: 200%;
	font-weight: bold;
	color: black;
	margin-bottom: 5%;
}

.rsvp_name {
	font-size: 170%;
}
// POST STYLES



// .tab_rsvp:hover{

// 	border-top: 1px solid grey;
// 	border-left: 1px solid grey;
// 	border-right: 1px solid grey;
// }
